<form class="{{cssClass}} flexcol" autocomplete="off">
	{{> "btw.actor-header" }}

	<nav class="sheet-tabs tabs flexrow" data-group="primary">
		<a class="item" data-tab="features">{{localize "BTW.Features"}}</a>
		<a class="item" data-tab="class">{{localize "BTW.ClassFeatures"}}</a>
		<a class="item" data-tab="items">{{localize "BTW.EquipmentLabel"}}</a>
		<a class="item" data-tab="notes">{{localize "BTW.Notes"}}</a>
		{{!-- <a class="item" data-tab="effects">Efeitos</a> --}}
	</nav>

	<section class="sheet-body flexrow">
		<div class="tab features flexrow" data-group="primary" data-tab="features">
			<div class="left-side">
				<div class="abilities flexcol">
					{{#each abilities as | ability id | }}
					<div class="ability flexrow" data-ability="{{id}}">
						<div class="ability-label flexcol">
							<label class="abitily-name rollable">{{ability.label}}</label>
							<input type="number" name="system.abilities.{{id}}.value" value="{{ability.value}}" min="1" class="ability-score" placeholder="10" data-dtype="Number">
						</div>
						<div class="ability-modifiers rollable flexrow">
							<span class="ability-mod" data-tooltip="BTW.Modifier">
								{{numberFormat ability.mod decimals=0 sign=true}}
							</span>
						</div>
						<div class="ability-features flexcol">
							{{#each ability.features}}
							<span>{{this}}</span>
							{{/each}}
						</div>
					</div>
					{{/each}}
				</div>
				<hr>
				<div class="saves flexrow">
					{{#each saves as | save id |}}
					<div class="save flexcol" data-save="{{id}}">
						<label class="save-name rollable">{{save.label}}</label>
						<div class="save-wrapper">
							<input type="number" name="system.saves.{{id}}.value" value="{{save.value}}" placeholder="20" data-dtype="Number">
						</div>
					</div>
					{{/each}}
				</div>
			</div>

			<div class="spacer flexrow"></div>

			<div class="right-side">
				<div class="right-fields flexrow">
					<div class="armor flexcol">
						<input type="number" name="system.ac" value="{{system.ac}}" placeholder="10" data-dtype="Number" />
						<label>{{localize "BTW.ArmorClass"}}</label>
					</div>
					<div class="flexcol">
						<input type="number" name="system.fortunePoints.value" value="{{system.fortunePoints.value}}"
							data-dtype="Number" min="0" />
						<label>{{localize "BTW.FortunePoints"}}</label>
					</div>
					<div class="flexcol">
						<div class="hp flexrow">
							<input type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" />
							<input type="number" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number" />
						</div>
						<label>{{localize "BTW.HitPoints"}}</label>
					</div>
				</div>
				<hr>
				<div class="skills">
					<div class="item-titles flexrow">
						<div class="item-name">{{localize "BTW.Skills"}}</div>
						<div class="item-controls">
							<a class="item-control item-create" data-type="skill"><i class="fa fa-plus"></i></a>
						</div>
					</div>
					{{#each skills as | skill |}}
					<div class="item flexrow" data-item-id="{{skill._id}}">
						<div class="item-name item-rollable">
							<a class="skill-roll"  data-tooltip="{{skill.system.description~}}">
								{{skill.name}} ({{#if skill.abl}}{{skill.abl}} {{/if}}{{numberFormat skill.system.bonus decimals=0 sign=true}})
							</a>
						</div>
						<div class="item-controls">
							<a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
							<a class="item-control item-delete" title="Delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
					{{/each}}
				</div>
				{{#if favorites.length}}
				<hr>
				<h3>{{localize "BTW.QuickAccess"}}</h3>
				<ol class="item-list unlist">
				{{#each favorites as | item |}}
					{{> "btw.actor-item-display" item=item }}
				{{/each}}
				</ol>
				{{/if}}
			</div>
		</div>

		<div class="tab class flexrow" data-group="primary" data-tab="class">
			<div class="details-sidebar">
				<div class="form-group">
					<label>{{localize "BTW.Armor"}}: {{class.system.armor}}</label>
				</div>
				<div class="form-group">
					<label>{{localize "BTW.InitiativeBonus"}}: {{class.system.initiative}}</label>
				</div>
				<div class="form-group">
					<label>{{localize "BTW.HitDice"}}: {{class.system.hd}}</label>
				</div>
			</div>
			<div class="class-abilities">
				{{editor abilitiesHTML editable=false }}
			</div>
		</div>

		<div class="tab items" data-group="primary" data-tab="items">
			<section class="items-list inventory-list" data-item-list="inventory">
			{{#each itemList as | data il |}}
			<div class="items-section card" data-type="{{il}}">
				<div class="items-header header flexrow">
					<h3 class="item-name">{{lookup ../config.itemTypes il}}</h3>
					<div class="item-header item-controls">
						<a class="item-control item-create" data-type="{{il}}"><i class="fas fa-plus"></i></a>
					</div>
				</div>
				<ol class="item-list unlist">
				{{#each data as | item |}}
					{{> "btw.actor-item-display" item=item }}
				{{/each}}
				</ol>
			</div>
			{{/each}}
			</section>
		</div>

		<div class="tab notes flexcol" data-group="primary" data-tab="notes">
			{{editor descriptionHTML target="system.notes" button=true editable=editable
					engine="prosemirror" collaborate=false}}
		</div>

	</section>
</form>