<form class="{{cssClass}} flexcol" autocomplete="off">
	{{> "sunken.item-header" }}

	<nav class="sheet-tabs tabs flexrow" data-group="primary">
		<a class="item" data-tab="description">{{localize "SUNKEN.Features"}}</a>
		<a class="item" data-tab="abilities">{{localize "SUNKEN.ClassFeatures"}}</a>
	</nav>

	<section class="sheet-body flexrow">
		<div class="tab description flexrow" data-group="primary" data-tab="description">

			<div class="details-sidebar">
				<div class="form-group">
					<label>{{localize "SUNKEN.Armor"}}</label>
					<div class="form-fields">
						<input type="text" name="system.armor" value="{{system.armor}}" />
					</div>
				</div>
				<div class="form-group">
					<label>{{localize "SUNKEN.InitiativeBonus"}}</label>
					<div class="form-fields">
						<input type="number" name="system.initiative" value="{{system.initiative}}" data-dtype="Number" />
					</div>
				</div>
				<div class="form-group">
					<label>{{localize "SUNKEN.HitDice"}}</label>
					<div class="form-fields">
						<input type="text" name="system.hd" value="{{system.hd}}" placeholder="1d10" />
					</div>
				</div>
			</div>
			<div>
				{{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror" collaborate=false}}
			</div>

		</div>

		<div class="tab abilities" data-group="primary" data-tab="abilities">
			{{editor abilitiesHTML target="system.abilities" button=true editable=editable engine="prosemirror" collaborate=false}}
		</div>
	</section>
</form>